$card-margin: 15px;

%card {
  width: 55%;
  height: 200px;
  padding: $card-margin;
  margin: 0 auto 25px;
}

@mixin btn_style {
  width: 150px;
  height: 50px;

  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: bold;

  background: $minor-color;
  border-radius: 5px;
}

@mixin a_style {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

button {
  @include btn_style;
}

a {
  @include a_style;
}

body {
  padding: 0;
  margin: 0;
  background: $body-color;
}

.landing-logo {
  p {
    font-family: 'Source Sans Pro', sans-serif;
    color: $header-font-color;
    font-size: 25px;
    font-weight: bolder;

    display: inline-block;


    span {
      font-size: 12px;
      font-weight: normal;
      text-align: center;
      display: block;
    }
  }
}

header {
  background: $header-back-img no-repeat;
  background-size: cover;
  background-position: center;

  border-radius: 0 0 40% 0;

  .header-wrap {
    padding: 0 150px 150px;
    width: 540px;

    .header_heading {
      font-family: 'Source Sans Pro', sans-serif;
      color: $header-font-color;
      font-size: 65px;
      font-weight: bold;
    }

    .header_text {
      font-family: 'Source Sans Pro', sans-serif;
      color: $header-font-color;
    }
  }
}

main {
  .section_text {
    color: $header-font-color;
    font-size: 40px;
    font-family: 'Hind', sans-serif;
    font-weight: bold;
    text-align: center;

    width: 100%;
  }

  //.section_card_wrap {
  //  display: block;
  //  width: 55%;
  //  margin: 0 auto;
  //
  //  .section_card {
  //    width: 100%;
  //    height: 220px;
  //    display: flex;
  //    justify-content: space-around;
  //    padding: 15px;
  //    margin-bottom: 20px;
  //
  //    background: $main-section-color;
  //    border-radius: 7px;
  //
  //    img {
  //      height: 100%;
  //      display: block;
  //
  //      border-radius: 5px;
  //    }
  //
  //    .section_card_right_container {
  //      display: block;
  //      width: 50%;
  //      height: 100%;
  //
  //      color: $card-text-color;
  //      font-family: 'Hind', sans-serif;
  //
  //      text-align: center;
  //
  //      .section_card_heading {
  //        font-size: 18px;
  //        font-weight: bold;
  //        text-align: center;
  //      }
  //
  //      .section_card_text {
  //        font-size: 14px;
  //        text-align: justify;
  //      }
  //
  //      a {
  //        display: block;
  //        text-align: center;
  //      }
  //    }
  //
  //  }
  //}

  //
  .section_card {
    @extend %card;

    background: $main-section-color;
    border-radius: 5px;

    img {
      height: 100%;

      border-radius: 5px;
    }

    .section_card_right_container {
      display: inline-block;
      width: 50%;
      height: 100%;

      color: $card-text-color;
      font-family: 'Hind', sans-serif;

      justify-content: center;
      align-items: center;

      .section_card_heading {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
      }

      .section_card_text {
        font-size: 13px;
        text-align: justify;
      }

      a {
        display: block;
        text-align: center;
      }
    }
  }

  .section_banner {
    width: 60%;
    height: 100px;
    display: flex;
    margin: 30px auto;

    position: relative;
    top: 80px;

    font-family: 'Source Sans Pro', sans-serif;
    color: $card-text-color;

    background: $grd;
    border-radius: 5px;

    z-index: 1;

    .section_banner_heading {
      color: $header-font-color;
      font-size: 25px;
      font-weight: bold;
    }

    .section_banner_text {
      font-size: 15px;
    }
  }
}

footer {
  background: $main-section-color;

  .footer-wrap {
    width: 100%;
    height: 150px;
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .footer_text,
    .footer-cr {
      color: $card-text-color;
      font-size: 12px;
      font-family: 'Source Sans Pro', sans-serif;
    }

    .footer_text {
      width: 250px;
      display: block;
      color: $card-text-color;
    }

    .footer_logo p {
      color: $card-text-color;
    }
  }
}