$header-back-img: url("../img/m-h-day.jpg");

$body-color: white;

$header-font-color: #2C2F3C;

$main-section-color: #21232E;
$card-text-color: white;

$main-color: #305FCD;
$minor-color: #639316;

$grd: linear-gradient(315deg, $main-color, $minor-color);