$header-back-img: url("../img/m-h-night.jpg");

$body-color: #21232E;

$header-font-color: white;

$main-section-color: #3B3F50;
$card-text-color: white;

$main-color: #99374C;
$minor-color: #DEA306;

$grd: linear-gradient(315deg, $main-color, $minor-color);